<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Item</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="form-box">
        <h1>TODO FORM</h1>
        <form action="/update/<%= item.id %>" method="POST" class="form">
          <!-- <input type="hidden" value="PUT" name="id"> -->
          <!-- <input type="hidden" value="PUT" name="id"> -->
          <label for="title">Title</label>
          <input type="text" value=<%= item.title %> name="title" placeholder="title" />
          <label for="desc">Description</label>
          <input type="text" value=<%= item.desc %> name="desc" placeholder="add description" />

          <label for="status">Status</label>
          <select class="form-select" aria-label="Default select example" name="status" >
            <!-- <option selected>Select one</option> -->
            <option value=<%= item.status %> selected><%= item.status %></option>
            <option value="done">Done</option>
            <option value="panding">Panding</option>
            <option value="Achieved">Achieved</option>
          </select>

          <label for="priority">Priority</label>
          <select class="form-select" aria-label="Default select example" name="priority" >
            <!-- <option selected>Select one</option> -->
            <option value=<%= item.priority %> selected><%= item.priority %></option>
            <option value="low">Low</option>
            <option value="medium">Medium</option>
            <option value="high">High</option>
          </select>
          <label for="cDate">Create Date</label>
          <input type="Date" value=<%= item.cDate %> name="cDate" placeholder="date" />
          <label for="dDate">Due Date</label>
          <input type="Date" value=<%= item.dDate %> name="dDate" placeholder="date" />
          <button type="submit" class="btn">UPDATE</button>
        </form>
      </div>
    </div>
  </body>
</html>
